@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles go here */
@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Sahel-Light.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Sahel.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Sahel-Bold.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Sahel-Black.woff") format("woff");
}

* {
    font-family: sahel, Arial, Helvetica, sans-serif;
}